.logo img{
    max-width: 100%;
    width: 100%;

}
.logo{
    max-width: 200px;
    display: block;
    margin: 17px auto 28px auto;
}

.mat-list-item-content{
    justify-content: center!important;
}