<div class="row">
  <div class="col-xs-3">
    <mat-checkbox>Check me!</mat-checkbox>
  </div>
  <div class="col-xs-9">
    <div class="row">
      <div class="col-xs-4">
        <div class="product__item">
          asdas
        </div>

      </div>
      <div class="col-xs-4">
        <div class="product__item">
          asdas
        </div>

      </div>
      <div class="col-xs-4">
        <div class="product__item">
          asdas
        </div>

      </div>
      <div class="col-xs-4">
        <div class="product__item">
          asdas
        </div>

      </div> <div class="col-xs-4">
      <div class="product__item">
        asdas
      </div>

    </div>

    </div>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>